.zoom-in-button{
    border:0px;
    border-radius: 50%;
    position:fixed;
    bottom:150px;
    right: 2rem;
    height: 36px;
    width:36px;
}

.zoom-out-button{
    border:0px;
    border-radius: 50%;
    position:fixed;
    bottom:100px;
    right: 2rem;
    height:36px;
    width:36px;
}