<button name="Zoom-in" type=button onclick="zoom_in()">
    <img src="/../pix/plus.png"/>
</button>
<button name="Zoom-out" type=button onclick="zoom_out()">
    <img src="/../pix/minus.png"/>
</button>